.overlay {
    @apply fixed z-50 transition-all duration-500 space-y-8 w-full h-full p-8 font-bold text-white bg-gold;

    &.over {
        .delayed-transition.animate {
            @apply transition-all duration-500 visible opacity-100 translate-y-0;
        }
    }

    .delayed-transition {
        @apply opacity-0 transform translate-y-5;
    }

    hr {
        @apply w-full border-white border-opacity-50;
    }

    .close-button {
        @apply absolute flex right-0 top-0 justify-center items-center w-10 h-10 cursor-pointer;
        padding: inherit;

        &::after {
            @apply fixed border border-white border-opacity-50 rounded-full;
            width: inherit;
            height: inherit;
            content: "";
        }

        hr {
            @apply fixed w-5 h-px bg-white border-white;

            &:first-child {
                @apply transform rotate-45;
            }

            &:last-child {
                @apply transform -rotate-45;
            }
        }
    }

    .navigation-list {
        @apply text-2xl space-y-4;
    }

    .order-button {
        @apply w-full border-white font-bold;
    }

    .contact-info {
        .contact-list {
            @apply text-sm space-y-4;

            li {
                @apply flex space-x-4 items-center;

                svg {
                    @apply w-5;
                }
            }
        }
    }

    .terms-privacy {
        @apply space-y-4;
    }
}
