.header-container {
    @apply w-full flex relative p-8 items-center transition-all ease-linear duration-300 transform;

    .navigation-text {
        @apply leading-3 text-sm flex-1;
    }

    .navigation-image {
        @apply flex justify-center w-full;
    }

    .navigation-icon {
        @apply hidden;

        .navigation-pages {
            @apply hidden;
        }
    }

    .navigation-button {
        @apply hidden;
    }

    .hamburger-menu {
        @apply w-4 space-y-1 cursor-pointer;

        :nth-child(n) {
            @apply border-black w-full transition-all duration-500;
        }

        &:hover {
            :nth-child(1) {
                @apply transform -translate-y-0.5;
            }
            :nth-child(2) {
                @apply opacity-0;
            }
            :nth-child(3) {
                @apply transform translate-y-0.5;
            }
        }
    }
}

.transform-opacity-animation {
    animation: transformAndOpacityAnim 1s forwards;
}

@keyframes transformAndOpacityAnim {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
