@screen lg {
    .headerContainer {
        @apply p-12;

        .navigationText {
            @apply hidden;
        }

        .navigationIcon {
            @apply order-first justify-start;
        }

        .navigationButton {
            @apply flex flex-1 justify-end;

            .button {
                @apply block;
            }
        }
    }
}
