.header-container {
    @apply flex p-8 items-center bg-white transition-all ease-linear duration-300 transform;

    .navigation-text {
        @apply leading-3 text-sm flex-1;
    }

    .navigation-image {
        @apply flex justify-center h-20 flex-1;
    }

    .navigation-icon {
        @apply flex-1 flex justify-end items-center space-x-4;

        .hamburger-menu {
            @apply w-4 space-y-1 cursor-pointer;

            :nth-child(n) {
                @apply border-black w-full transition-all duration-500;
            }

            &:hover {
                :nth-child(1) {
                    @apply transform -translate-y-0.5;
                }
                :nth-child(2) {
                    @apply opacity-0;
                }
                :nth-child(3) {
                    @apply transform translate-y-0.5;
                }
            }
        }

        .navigation-pages {
            @apply hidden;
        }
    }

    .navigation-button {
        .button {
            @apply hidden;
        }
    }
}

.transform-opacity-animation {
    animation: transformAndOpacityAnim 1s forwards;
}

@keyframes transformAndOpacityAnim {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
