.sliderSection {
    @apply space-y-4;

    .slider {
        @apply w-full h-72 m-auto;
    }

    .arrowsContainer {
        @apply flex justify-between mx-4;

        .animatedArrows {
            @apply w-10 h-6;
        }
    }
}
